<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

<div class="preloader" style="opacity: 0; display: none;">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<section id="home" class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1 class="wow fadeInLeft" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">Faça suas
                        conversões de moedas</h1>
                    <p class="wow fadeInLeft" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">Somos uma
                        plataforma inovadora que facilita a conversão de moedas de maneira rápida, segura e eficiente.
                    </p>
                    <div class="button wow fadeInLeft" data-wow-delay=".8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <a href="contact.html" class="btn">Iniciar Agora</a>
                        <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&amp;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                            class="glightbox video-button"><span class="video"><i class="lni lni-play"></i></span><span
                                class="text">Assistir</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="hero-image wow fadeInRight" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <img src="#" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Soluções</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Soluções para você
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Oferecemos uma
                        variedade de soluções para facilitar sua experiência internacional, garantindo praticidade,
                        segurança e comodidade em suas viagens ou transações financeiras.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <i class="lni lni-coin"></i>
                    <h3>Seguro Viagem</h3>
                    <p>Você protegido em toda sua viagem, com planos que cobrem desde emergências médicas até
                        assistência jurídica e extravio de bagagens.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <i class="lni lni-coin"></i>
                    <h3>Chip Internacional</h3>
                    <p>Planos acessíveis de dados e ligações para os EUA, Europa e diversos outros países, permitindo
                        que você permaneça conectado em qualquer lugar do mundo.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <i class="lni lni-coin"></i>
                    <h3>Moeda em Espécie</h3>
                    <p>Oferecemos uma ampla variedade de moedas estrangeiras, incluindo dólar, euro, libra, pesos e
                        mais, com taxas competitivas e segurança.</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <i class="lni lni-credit-cards"></i>
                    <h3>Cartão Pré-Pago</h3>
                    <p>Carregue até 6 moedas diferentes em um único cartão, proporcionando flexibilidade e segurança em
                        suas compras e saques no exterior.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <i class="lni lni-invest-monitor"></i>
                    <h3>Transferências Internacionais</h3>
                    <p>Envie e receba dinheiro de qualquer parte do mundo de maneira rápida, segura e com taxas
                        acessíveis que cabem em seu bolso. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-feature wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <i class="lni lni-ticket-alt"></i>
                    <h3>Cheque Internacional</h3>
                    <p>Aceitamos cheques internacionais em dólares ou euros, oferecendo uma solução prática para
                        trocá-los com agilidade e segurança.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="overview" class="app-info section">
    <div class="container">
        <div class="info-one">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="info-text wow fadeInLeft" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <div class="main-icon">
                            <i class="lni lni-inbox"></i>
                        </div>
                        <h2>Mais de 125.000 Clientes Satisfeitos!</h2>
                        <p>
                            Troque moedas de forma ágil e segura com nossa plataforma de câmbio inteligente. Com uma
                            interface otimizada para dispositivos móveis e tablets, você pode converter valores em
                            diversas moedas com apenas alguns cliques—onde quer que esteja.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Saiba Mais</a>
                        </div>
                        <div class="author">
                            <div class="image">
                                <img src="https://demo.graygrids.com/themes/saasgrids/assets/images/blog/comment1.jpg"
                                    alt="#">
                                <h4>
                                    Graças ao aplicativo, minha viagem foi muito mais tranquila. Consegui trocar moedas
                                    com facilidade e segurança, além de utilizar o cartão pré-pago em todos os meus
                                    destinos. Com certeza, facilitou toda a experiência!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="info-image wow fadeInRight" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <img class="ss1"
                            src="https://img.freepik.com/fotos-premium/um-homem-de-pe-em-uma-montanha-com-os-bracos-estendidos-acima-de-sua-cabeca_1107779-29872.jpg?w=360"
                            alt="#">
                    </div>
                </div>
            </div>
        </div>
        <div class="info-one style2">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="info-image wow fadeInLeft" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <img class="ss1"
                            src="https://gallerypng.com/wp-content/uploads/2024/08/apple-pink-iphone-png-photo.png"
                            alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="info-text wow fadeInRight" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <div class="main-icon">
                            <i class="lni lni-play"></i>
                        </div>
                        <h2>Tudo o que você precisa na palma da sua mão, em um único aplicativo!</h2>
                        <p>
                            Com o nosso aplicativo, você tem tudo o que precisa na palma da sua mão. Realize
                            transferências internacionais de maneira rápida e segura, abasteça sua conta global e envie
                            ou receba dinheiro do exterior com facilidade. Além disso, compre moedas como Dólar, Euro e
                            mais de 20 outras opções, com a conveniência de recebê-las em casa ou retirar em uma de
                            nossas lojas.
                        </p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Baixe Agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section call-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="cta-content">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Simplifique suas
                        transações internacionais. Comece a usar nossos serviços de câmbio agora.
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Oferecemos
                        soluções seguras e rápidas para suas necessidades de câmbio, com taxas competitivas e diversas
                        opções de moedas, facilitando suas operações financeiras em qualquer lugar do mundo..</p>
                    <div class="button wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <a href="javascript:void(0)" class="btn">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Faq</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Ficou alguma
                        dúvida sobre o Conversor de Moedas?</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="title"><span class="serial">01</span>Como funciona o conversor de
                                    moedas?</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Digite a moeda ou país de destino da sua viagem ou envio de dinheiro ao exterior.
                                    Preencha com a quantidade que você deseja levar ou enviar ao exterior. Você pode
                                    colocar os valores em reais ou já em moeda estrangeira, vendo automaticamente a
                                    conversão entre elas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="title"><span class="serial">02</span>Para que serve este gráfico?</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Com o gráfico você poderá analisar a variação cambial. Acompanhando o histórico da
                                    cotação do dólar, euro e outras moedas estrangeiras ao longo de uma semana, um mês
                                    ou três meses, você poderá identificar os melhores momentos para a compra da sua
                                    moeda estrangeira ou transferências internacionais.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="title"><span class="serial">03</span>O que eu faço se não sei a moeda do
                                    país?</span>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Basta digitar o nome do país que você irá visitar ou fazer um envio de dinheiro. Por
                                    exemplo, digitando Alemanha, aparecerá automaticamente a moeda ‘Euro’ para você ver
                                    a cotação e conversão para o real.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="title"><span class="serial">04</span>Estes valores já estão com as taxas e
                                    impostos?</span>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>No valor do conversor de moedas, na taxa de câmbio, já estão inclusos o IOF (Imposto
                                    sobre Operações Financeiras). Para verificar o VET (Valor Efetivo Total), ou seja, o
                                    valor final para a compra da sua moeda estrangeira, faça uma simulação pela nossa
                                    Loja Online ou Aplicativo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span class="title"><span class="serial">05</span>Como posso realizar transferências
                                    internacionais?</span>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Você pode realizar transferências internacionais diretamente pelo nosso site. Acesse
                                    a área de transferências e siga as instruções para enviar dinheiro para o exterior
                                    de forma segura e rápida.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="scroll-top" style="display: flex;">
    <i class="lni lni-chevron-up"></i>
</a>

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/count-up.min.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">

    tns({
        container: '.client-logo-carousel',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 15,
        nav: false,
        controls: false,
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 2,
            },
            768: {
                items: 3,
            },
            992: {
                items: 4,
            }
        }
    });

    tns({
        container: '.testimonial-slider',
        items: 3,
        slideBy: 'page',
        autoplay: false,
        mouseDrag: true,
        gutter: 0,
        nav: true,
        controls: false,
        controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 1,
            },
            768: {
                items: 1,
            },
            992: {
                items: 1,
            },
            1170: {
                items: 1,
            }
        }
    });

    GLightbox({
        'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
        'type': 'video',
        'source': 'youtube',
        'width': 900,
        'autoplayVideos': true,
    });

    var cu = new counterUp({
        start: 0,
        duration: 2000,
        intvalues: true,
        interval: 100,
        append: " ",
    });
    cu.start();
</script>