<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-about">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="Logo">
                            </a>
                        </div>
                        <p>Com nossa tecnologia de ponta, você pode gerenciar suas finanças internacionais e trocar
                            moedas com facilidade, garantindo a melhor experiência em transações globais.</p>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-footer f-link">
                                <h3>Serviços</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Conversão de Moedas</a></li>
                                    <li><a href="javascript:void(0)">Transferências Internacionais</a></li>
                                    <li><a href="javascript:void(0)">Câmbio Rápido</a></li>
                                    <li><a href="javascript:void(0)">Consultoria Financeira</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-footer f-link">
                                <h3>Recursos</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Guias de Uso</a></li>
                                    <li><a href="javascript:void(0)">Calculadora de Moedas</a></li>
                                    <li><a href="javascript:void(0)">Atualizações do Mercado</a></li>
                                    <li><a href="javascript:void(0)">Relatórios Financeiros</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-footer f-link">
                                <h3>Sobre Nós</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Quem Somos</a></li>
                                    <li><a href="javascript:void(0)">Notícias</a></li>
                                    <li><a href="javascript:void(0)">Câmbio</a></li>
                                    <li><a href="javascript:void(0)">Fale Conosco</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-footer f-link">
                                <h3>Legal</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">Termos de Serviço</a></li>
                                    <li><a href="javascript:void(0)">Política de Privacidade</a></li>
                                    <li><a href="javascript:void(0)">Serviços de Câmbio</a></li>
                                    <li><a href="javascript:void(0)">Direitos do Consumidor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-newsletter">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="title">
                            <h3>Inscreva-se na nossa newsletter</h3>
                            <p>Fique por dentro das nossas novidades e produtos mais recentes</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-12">
                        <div class="form">
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="EMAIL" placeholder="Digite seu e-mail" type="email">
                                <div class="button">
                                    <button class="btn">Inscrever-se<span class="dir-part"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>